# reports
reports/*/1*.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.2020*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/lib
/js/lib

*checkpoint.ipynb
compare-java-python.ipynb
_poolsSeries.json.zip
bal-for-gas-compare-implementations.ipynb
*.pyc
bal-for-gas-v2-test.ipynb

#venv
pyvenv.cfg
bin/*
,/bin/*
