attrs==20.2.0
base58==2.0.1
bitarray==1.2.2
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
cytoolz==0.11.0
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.9.5
google-api-core==1.22.4
google-auth==1.22.1
google-cloud-bigquery==2.2.0
google-cloud-bigquery-storage==2.0.0
google-cloud-core==1.4.3
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
hexbytes==0.2.1
idna==2.10
ipfshttpclient==0.6.1
json5==0.9.5
jsonschema==3.2.0
kiwisolver==1.2.0
libcst==0.3.13
lru-dict==1.1.6
matplotlib==3.3.2
multiaddr==0.0.9
mypy-extensions==0.4.3
netaddr==0.8.0
numpy==1.19.2
pandas==1.1.3
parsimonious==0.8.1
Pillow==8.0.0
proto-plus==1.10.2
protobuf==3.13.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.8
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rlp==2.0.0
rsa==4.6
six==1.15.0
toolz==0.11.1
tqdm==4.51.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
varint==1.0.2
web3==5.12.2
websockets==8.1
